.search-container {
    display: flex;
    flex-direction: column;
    margin: auto;
}

 #park-search {
    padding: 1vh;
    margin: auto;
    margin-top: 10px;
}

#restaurant-search {
    padding: 1vh;
    margin: auto;
    margin-top: 10px;

}

#concert-search {
    padding: 1vh;
    margin: auto;
    margin-top: 10px;

}

.results-container {
    border: 1px solid black;
    margin: auto;
    width: 60%;
    height: 30vh;
    margin-top: 50px;
    border-radius: 10px;
}


.itinerary-container {
    border: 1px solid black;
    margin: auto;
    margin-top: 50px;
    width: 60%;
    height: 30vh;
    border-radius: 10px;
}

.welcome {
    text-align: center;
    font-size: 3rem;
    font-family: 'PT Sans Narrow', sans-serif;
}

.attempt {
    padding: 1%;
}

#save-btn, #save-btn1-park, #save-btn2-park, #save-btn3-park, #save-btn4-park, #save-btn1-food, #save-btn2-food, #save-btn3-food, #save-btn4-food {
    border-radius: 6px;
    border-color: grey;
    padding: 1%;
}


